<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<true/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>༄༅།།སོ་སོ་ཐར་པའི་མདོའི་འགྲེལ་པ་རིན་ཆེན་འབྱུང་གནས་ཞེས་བྱ་བ་བཞུགས་སོ།།.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Star</string>
</dict>
</plist>
